@page "/notes"
@using BootstrapBlazor.Components
@using fstools.Services;
@inject NotesService NotesData; 

<PageTitle>Notes</PageTitle>

<h1>
   Notes
    <Button style="margin-left:200px"
        ButtonStyle="ButtonStyle.Round"
        Color="Color.Primary"
        OnClick="SetDefault">
        Default
    </Button>
    <Button
            ButtonStyle="ButtonStyle.Round"
            Color="Color.Primary"
            OnClick="Clear">
        Clear
    </Button>
</h1>
<Editor ShowSubmit="false" @bind-Value="@NotesData.Notes" IsEditor="true" Height="750" ToolbarItems="@ToolbarItems" />

@code
{
    private List<object> ToolbarItems = new List<object>
    {
        new List<object>
        {
            "style", new List<string>()
            {
                "style"
            }
        },
        new List<object>
        {
            "fontstyle", new List<string>()
            {
                "bold", "italic", "underline", "clear"
            }
        },
        new List<object>
        {
            "font", new List<string>()
            {
                "strikethrough", "superscript", "subscript"
            }
        },
        new List<object>
        {
            "fontsize", new List<string>()
            {
                "fontsize"
            }
        },
        new List<object>
        {
            "color", new List<string>()
            {
                "color"
            }
        },
        new List<object>
        {
            "para", new List<string>()
            {
                "ul", "ol", "paragraph"
            }
        },
        new List<object>
        {
            "misc", new List<string>()
            {
                "undo", "redo"
            }
        },
    };


    public void Clear()
    {
        NotesData.Notes = String.Empty;
    }

    public void SetDefault()
    {
        NotesData.SetDefault();
    }
}
