@page "/notes"
@using BootstrapBlazor.Components


<PageTitle>Notes</PageTitle>

<h1>Notes</h1>

<Editor ShowSubmit="false" @bind-Value=@MainLayout.NotesValue IsEditor="true" Height="900" ToolbarItems="@ToolbarItems" />

@code
{
    [CascadingParameter]
    public MainLayout MainLayout { get; set; }

    private string defaultNotes = @"<h3 class=""""><u>Altitudes</u></h3><ul><li><br></li></ul><p><br></p><p><br></p><p><br></p>
                                    <h3 class=""""><u>Frequencies</u></h3><ul><li><br></li></ul><p><br></p><p><br></p><p><br></p>
                                    <h3 class=""""><u>Notes</u></h3><ul><li><u><br></u></li></ul>";

    private List<object> ToolbarItems = new List<object>
    {
        new List<object>
        {
            "style", new List<string>()
            {
                "style"
            }
        },
        new List<object>
        {
            "fontstyle", new List<string>()
            {
                "bold", "italic", "underline", "clear"
            }
        },
        new List<object>
        {
            "font", new List<string>()
            {
                "strikethrough", "superscript", "subscript"
            }
        },
        new List<object>
        {
            "fontsize", new List<string>()
            {
                "fontsize"
            }
        },
        new List<object>
        {
            "color", new List<string>()
            {
                "color"
            }
        },
        new List<object>
        {
            "para", new List<string>()
            {
                "ul", "ol", "paragraph"
            }
        },
        new List<object>
        {
            "misc", new List<string>()
            {
                "undo", "redo"
            }
        },
    };

    protected override void OnInitialized()
    {
        if (string.IsNullOrEmpty(MainLayout.NotesValue))
        {
            MainLayout.NotesValue = defaultNotes;
        }
    }
}
