@page "/timer"

@using BootstrapBlazor.Components
@using fstools.Services;

@inject NavigationManager NavManager
@inject TimerService Timers

<PageTitle>Timers</PageTitle>

<h1>Timers</h1>
<button class="btn btn-sm btn-primary" @onclick="AddTimer">Add Timer</button>
<button class="btn btn-sm btn-primary" @onclick="ResetTimers">Reset</button>
<br /><br />
@for (int i = 1; i <= timerCount; i++)
{
    var showButtons = i > 1;
    <StopwatchComponent timerText="@getText(@i)" timerNumber=@i timersIn="@Timers.Timers" infoIn="@Timers.Info"
                    showButtons="@showButtons"/>
    <Divider/>
}

@code
{
    [CascadingParameter]
    public MainLayout MainLayout { get; set; }

    int timerCount;
    StopwatchComponent c = new StopwatchComponent();

    protected override void OnInitialized()
    {
        timerCount = Timers.TimerCnt;
        //timerCount = c.GetTimerCount();
        if (timerCount.Equals(0))
        {
            timerCount = 1;
        }
    }

    public string getText(int i) => $"Timer {i}";

    public void AddTimer()
    {
        timerCount++;
    }

    void ResetTimers()
    {
        c.ResetTimers();
        timerCount=1;
        NavManager.NavigateTo("/timer", true);
    }
}