@using fstools.Models;
@using fstools.Services;

@inherits LayoutComponentBase

<PageTitle>FS Tools</PageTitle>


<div class="page">
    <CascadingValue Value="this">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="col-11">
                <StopwatchComponent timerText="Timer 1" timerNumber=1 timersIn="@_timers" infoIn="@info" fontSize="20px" />
            </div>
@*            <div class="col-1">
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>*@
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
    </CascadingValue>
</div>

@code
{
    //These act as global variables so the timers are not reset when navigating away from and back to timers page
    public List<StopwatchInfo> info = new List<StopwatchInfo>();
    public List<TimerService> _timers = new List<TimerService>();
    public int timerCnt;
}
