@using fstools.Models;
@using fstools.Services;

@inherits LayoutComponentBase
@inject TimerService Timers

<PageTitle>FS Tools</PageTitle>


<div class="page">
    <div class="sidebar" style="@IconMenuCssClass">
        <NavMenu ShowIconMenu="ToggleIconMenu" />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="col-11">
                <StopwatchComponent timerText="Timer 1" timerNumber=1 timersIn="@Timers.Timers" infoIn="@Timers.Info" fontSize="20px" />
            </div>
@*            <div class="col-1">
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>*@
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    private bool _iconMenuActive { get; set; }
    private string IconMenuCssClass => _iconMenuActive ? "width: 80px;" : null;

    protected void ToggleIconMenu(bool iconMenuActive)
    {
        _iconMenuActive = iconMenuActive;
    }
}
