@using BootstrapBlazor.Components
@using fstools.Models;
@using fstools.Services;


<Collapse>
    <CollapseItems>
        <CollapseItem Text="@Title()" TitleColor="Color.Primary" IsCollapsed="false">
            @if (WeatherInfo != null)
            {
                <div class="row g-3">
                    <div class="col-12">
                        <b>Pilot Reports for Area:</b>
                        <ul>
                            @foreach (var c in WeatherInfo.PirepData.Line_by_line)
                            {
                                <li>@c</li>
                            }
                        </ul>
                    </div>
                </div>
            }
            else
            {
                <label>PIREP data not found</label>
            }
        </CollapseItem>
    </CollapseItems>
</Collapse>

       
@code {
    [Parameter]
    public String ICAO { get; set; }

    [Parameter]
    public PirepInfo WeatherInfo { get; set; }


    protected string Title()
    {
        return $"PIREP for {ICAO.ToUpper()}";
    }
}
